.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.playgame {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ingame-stats {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingame-section {
  width: 34%;
}

.ingame-numberhistory {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */

.btn-menu {
  display: block;
  text-align: center;
  line-height: 130px;
  background: linear-gradient(90deg, #3749c0, #055884);
  color: white;
  width: 50%;
  height: 130px;
  border-radius: 20px;
  font-size: 36px;
  font-weight: bold;
  margin: 60px auto 0;
  text-decoration: none;
}

.btn-menu:hover {
  cursor: pointer;
  box-shadow: 
    0 0 2px gray,
    0 0 15px #30c1e9;

  color: white;
}

.btn-game {
  width: 100%;
}

.input-name {
  display: block;
  text-align: center;
  line-height: 150px;
  background: linear-gradient(90deg, #e47154, #ec9c60);
  color: white;
  width: 70%;
  height: 175px;
  border-radius: 20px;
  font-size: 36px;
  font-weight: bold;
  margin: 50px auto 70px;
  text-decoration: none;
}

.input-name:hover {
  color: white;
  box-shadow: 
    0 0 2px gray,
    0 0 15px #fff;
}

.input-names-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.btn-play svg {
  font-size: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 32px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 1000;
}

.navtitle {
  font-size: 28px;
  font-weight: bold;
}

.navlinks {
  color: grey;
  font-size: 24px;
}

.navlinks a:hover {
  color: white;
  text-shadow: 
    0 0 5px gray,
    0 0 20px #fff;
}

.info-container {
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
  display: flex;
  width: 100%;
}

.info-tries, .info-time {
  width: 50%;
  padding: 30px 30px;
  border-width: 1px;
  border-color: white;
}

.info-tries {
  border-radius: 20px 0 0 20px;
}

.info-time {
  border-radius: 0 20px 20px 0;
}

.ingame-numberhistory ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.ingame-numberhistory-item {
  padding: 10px;
  border: 1px solid white;
  text-align: center;
}

.info-tips {
  padding: 10px;
  margin-top: 40px;
}


/* STATS */
.stats-container {
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 50%;
}

.numberhistory-container {
  margin-bottom: 20px;
  width: 50%;
}

.title-section {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(90deg, #e47154, #ec9c60);
  border-radius: 25px 25px 0 0;
  padding: 10px 0 10px 0;
}


.stats-item {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.stats-item-name {
  font-weight: bold;
}

.stats-details-player {
  border-width: 5px 5px 0px 5px;
}

.game-header {
  text-align: center;
  margin: 10px 0 80px 0;
}


/* 404 Not Found */
.title404 {
  font-size: 150px;
  font-weight: bold;
  color: #e47154;
  margin-bottom: 30px;
}

.subtitle404 {
  font-size: 36px;
  color: white;
}



/* GAME HISTORY */
.game-history-table {
  width: 70%;
  margin-top: 30px;
  border-collapse: collapse;
}

.game-history-header {
  background: linear-gradient(90deg, #e47154, #ec9c60);
  border-radius: 20px 20px 0 0;
  color: white;
  text-align: center;
}

.game-history-header th {
  padding: 12px 15px;
  text-align: center;
}


.game-history-data tr:nth-child(even) {
  background-color: rgb(41, 41, 41);
}
.game-history-data td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.error-server-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sad-icon {
  color: #e47154;
  font-size: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.versus-logo {
  width: 24px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

.server-status {
  color: green;
  margin-top: 40px;
}

.server-status:hover {
  text-shadow: 1px 0 3px lightgreen;
}

.textBold {
  font-weight: bold;
}